<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>application-identifier</key>
	<string>com.roooot.laraapp</string>
	<key>com.apple.private.security.no-sandbox</key>
	<true/>
	<key>com.apple.security.exception.iokit-user-client-class</key>
	<array>
		<string>IOAVControllerConcreteUserClient</string>
		<string>IOMobileFramebufferUserClient</string>
		<string>IOSurfaceRootUserClient</string>
		<string>RootDomainUserClient</string>
		<string>AGXDeviceUserClient</string>
		<string>AGXSharedUserClient</string>
		<string>AGXCommandQueue</string>
		<string>AGXDevice</string>
		<string>IOGPUDeviceUserClient</string>
		<string>AppleCredentialManagerUserClient</string>
		<string>AppleKeyStoreUserClient</string>
		<string>AppleMobileFileIntegrityUserClient</string>
	</array>
	<key>platform-application</key>
	<true/>
	<key>com.apple.private.cs.debugger</key>
	<true/>
	<key>com.apple.private.set-exception-port</key>
	<true/>
	<key>com.apple.system-task-ports.control</key>
	<true/>
</dict>
</plist>
